<hr />
<div class="container mt-4">
  <div class="table-responsive">
    <div class="mb-4">
      <div class="form-group d-flex mb-4 gap-4">
        <input
          type="text"
          class="form-control w-100"
          style="width: 70%"
          placeholder="Pesquisar"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>
    <table
      class="table table-striped table-bordered table-hover align-middle shadow-sm"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th style="text-align: center">
            <button
              class="btn btn-outline-light btn-sm"
              (click)="alterarImagem()"
            >
              {{ mostrarImagem ? "Ocultar" : "Mostrar" }}
            </button>
          </th>
          <th>Local</th>
          <th>Data</th>
          <th>Tema</th>
          <th>Qtd. Pessoas</th>
          <th>Lote</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody *ngIf="eventos || eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
          <td>{{ evento.id }}</td>
          <td style="text-align: center">
            <img
              [collapse]="!mostrarImagem"
              [isAnimated]="true"
              src="{{ evento.imageURL }}"
              alt=""
              [style.width.px]="larguraImagem"
              [style.margin.px]="margemImagem"
            />
          </td>
          <td>{{ evento.local }}</td>
          <td>{{ evento.data | date : "dd/MM/yyyy hh:mm" }}</td>
          <td>{{ evento.tema }}</td>
          <td>{{ evento.qtdPessoas }}</td>
          <td>{{ evento.lote }}</td>
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5 me-3 cursor-pointer"
              title="Editar"
              style="cursor: pointer"
            ></i>
            <i
              class="bi bi-trash text-danger fs-4"
              title="Excluir"
              (click)="deleteEvento(evento.id)"
              style="cursor: pointer"
            ></i>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!eventos.length">
        <tr>
          <td colspan="8" class="text-center">
            <h5>Nenhum Evento encontrado</h5>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
