<h1>Eventos de Componente</h1>

<div class="container mt-4">
  <h2 class="mb-3">Lista de Eventos</h2>
  <div class="table-responsive">
    <table
      class="table table-striped table-bordered table-hover align-middle shadow-sm"
    >
      <thead class="table-light">
        <tr>
          <th>Local</th>
          <th>Data</th>
          <th>Tema</th>
          <th>Qtd. Pessoas</th>
          <th>Lote</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos">
          <td>{{ evento.local }}</td>
          <td>{{ evento.data | date : "dd/MM/yyyy hh:mm" }}</td>
          <td>{{ evento.tema }}</td>
          <td>{{ evento.qtdPessoas }}</td>
          <td>{{ evento.lote }}</td>
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5 me-3 cursor-pointer"
              title="Editar"
              style="cursor: pointer"
            ></i>
            <i
              class="bi bi-trash text-danger fs-4"
              title="Excluir"
              (click)="deleteEvento(evento.id)"
              style="cursor: pointer"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
